.form__input {
    border: 1px solid rgb(85, 85, 85);
    width: 80%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

.container_tracker {
    font-weight: 300;
    font-size: 40px;
}