.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    position: fixed;
    top: 0;
    left: 0;
}

.modal_box {
    width: 35vw;
    height: fit-content;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    z-index: 1;
}

.modal_footer {
    margin: 20px;
}