.App {
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    margin-top: 50px;
    font-size: 2rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-tracker {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.group-container {
    width: 100%;
}

.tracker-box {
    background: #01b3ff66;
    padding: 30px;
    width: 80%;
    height: fit-content;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.app-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    padding: 20px;
    background-color: #277fdd;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.card-item {
    margin: 5px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

.card-buttons {
    display: flex;
    margin: 20px;
}

.card-buttons p {
    margin: 10px;
}

.card-info {
    margin: 20px;
    text-align: start;
}

.select {
    margin-top: 20px;
    border: 1px solid #277fdd;
    width: 200px;
    text-align: center;
    height: 30px;
    border-radius: 20px;
}
