* {
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
  margin: 5px 0;
}

a {
  text-decoration: none;
}

.router-link {
  text-decoration: none;
  border: 0;
  background-color: #fafafa00 !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
